#header {
	margin-top: 55px;
}

#mobile-banner {
	padding: 0px 0px;
	margin: 0px;
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(246,246,246);
	z-index: 90;
	box-shadow: 0 0 7px rgba(0,0,0,.4);
	transition: top 500ms;
	-o-transition: top 500ms;
	-ms-transition: top 500ms;
	-moz-transition: top 500ms;
	-webkit-transition: top 500ms;
}

#mobile-banner h1 {
	margin: 4px 0px 0px 12px;
	font-size: 2.5em;
	text-align: left;
}

#mobile-toggle {
	float: right;
	width: 30px;
	height: 30px;
	margin: 17px 18px 0px 0px;
	cursor: pointer;
}

#mobile-toggle img {
	float: right;
	width: 100%;
	display: block;
	cursor: pointer;
}

#mobile-menu-wrapper {
	position: fixed;
	top: 0px;
	right: -302px;
	height: 100%;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
	border-left: 2px solid rgba(0,0,0,0.4);;
	box-shadow: 0 0 7px rgba(0,0,0,.0);
	-webkit-transition: box-shadow 0.3s ease 0s;
	-moz-transition: box-shadow 0.3s ease 0s;
	-o-transition: box-shadow 0.3s ease 0s;
	-ms-transition: box-shadow 0.3s ease 0s;
	transition: box-shadow 0.3s ease 0s; 
	z-index: 999;
}

#mobile-menu-wrapper li {
	margin-top: 10px;
}

#mobile-menu #searchform #searchinput {
	text-align: center;
	width: 200px;
}

#mobile-menu #searchform #searchsubmit,
#mobile-menu #searchform #search_hover {
	right: 10px;
}

#mobile-categories ul,
#mobile-archives ul {
	display: none;
}

#mobile-home a,
#mobile-words a {
	color: rgba(0,0,0,0.9);
}

/* The left and right margins are uneven to account for the borders around the 
posts. */
.blog #content {
	margin: 20px 5px 4px 3px;
}

#main .column-wrapper .column li:last-child {
	margin-bottom: 0px;
}

#two-columns,
#three-columns,
#four-columns {
	margin-left: -30px;
	margin-right: -30px;
}

/*******************************************************************************

	Blog list settings

*******************************************************************************/

#content h1 {
	margin: 10px 0px;
}

.blog #content {
	padding-top: 2px;
}

.blog #post-wrapper {
	margin: 0px;
}

.posts .post {
	margin-top: 4px;
	margin-bottom: 4px;
}

.posts .post:first-child {
	margin-top: 0px;
}

#load-more {
	margin: 15px 0px;
}

/*******************************************************************************

	Post content settings

*******************************************************************************/

.post-main {
	margin-top: 0px;
}

#barContainer {
	width: calc( 100% - 50px );
}

/*******************************************************************************

	Comments settings

*******************************************************************************/

/* The left and right margins are uneven to account for the borders around the 
posts. */
#main #comments {
	margin: 20px 4px 0px;
}

#respond {
	padding-bottom: 15px;
}

/*******************************************************************************

	Footer settings

*******************************************************************************/

#footer {
	padding: 10px 0px;
}

#social-icons a {
	width: 44px;
	height: 44px;
}

#info {
	width: calc( 100% - 206px );
}

#social-icons {
	padding-top: 5px;
	width: 200px;
}
