#header {
	margin-top: 10px;
}

.posts li {
	margin: 3px 0px;
}

.posts li:first-child {
	margin-top: 6px;
}

.posts li:last-child {
	margin-bottom: 6px;
}

.mobile-post-nav {
	margin-top: 10px;
	margin-bottom: 20px;
}
